@()(content: Html)(implicit request: play.api.mvc.Request[Any], messages: Messages, webJarAssets: WebJarAssets)

<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("title")</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(webJarAssets.locate("bootswatch-spacelab", "bootstrap.min.css"))">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(webJarAssets.locate("font-awesome", "font-awesome.css"))">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        <div class="container">
        @content
        </div>


        <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("bootswatch-spacelab", "bootstrap.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("knockout", "knockout.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("knockout-mapping", "knockout.mapping.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("knockout-validation", "knockout.validation.min.js"))"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
    </body>
</html>